# PlatformIO
.pio/
compile_commands.json
.cache/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Claude
.claude

# Python
__pycache__/
*.pyc
*.pyo

# Environment vars
.env
.env.*
